/* ==========================================================================
   Base.css - Author: Andre Silva | andre1050@gmail.com;
   ========================================================================== */
/* CSS RESETS FOR IMPROVE CROSS-BROWSER CONSISTENCY */


/* Set display property for HTML5 elements */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary { display: block; }

audio,
canvas,
video { display: inline-block; }

/* Basic body styles */
body { 
	font-family: sans-serif;
	margin: 0; 
}

/* Remove border from images inside links */
img { border: 0; }

/* Basic styling for inputs and buttons */
input,
button {
	background: #FFF;
	border: none;
	outline: none;
}
input[type="submit"] { cursor: pointer; }

/* Remove auto margin from header elements */
h1,
h2,
h3,
h4,
h5,
h6 { margin: 0; }